@import "./partials/mixins";

#block-views-block-analysis-block-1--2{
  background-color: #fff;
  margin-bottom: 1em;
  padding: 10.5px;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 12%);
  h2{
    @include cardTitle();
    padding: 7.5px 9.5px;
  }
  .views-row{
    @include cardBoxShadow();
    .analysis-section{
      .analysis-image{
        img{
          width: 100%;
          height: 100%
        }
      }
      .analysis-content{
        padding: 18px;
        .news-title{
          a{
            @include newsTitle();
          }
        }
        .news-author{
          @include newsAuthor();
        }
        .date-category{
          display: flex;
          time{
            @include newsTime();
          }
          a{
            @include newsCategory();
          }
        }
      }
    }
  }
}
