//featured news view
.featured-news{
  margin-bottom: 1em;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 12%);
  .views-row{
    background-color: #fff;
    padding: 5px;
    position: relative;
  }
  .views-field-field-category{
    position: absolute;
    top: 50%;
    padding: 1rem;
    a{
      text-decoration: none;
      padding: 2px 5px;
      color: #fff;
      display: inline-block;
      text-transform: uppercase;
      font-family: Oswald,sans-serif;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 2px;
      background-color: #b71c1c;

    }
  }
  .views-field-title{
    position: absolute;
    top: 60%;
    padding: 1rem;
    a{
      color: #000;
      background-color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0 5px 0 5px;
      text-align: center;
    }
  }
  .views-field-field-author-name{
    position: absolute;
    top: 70%;
    padding: 1rem;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    span{
      color: #9d9d9d;
      font-size: 0.9em;
    }
  }
  .views-field-field-news-image{
    img{
      width: 100%;
      height: 347px;
    }
  }
}


@media (max-width: 320px){
  .featured-news{
    width: 100%;
    .views-field-field-author-name{
      top: 85%;
    }
  }
}



