//site footer
.site-footer-wrapper{
  background-color: #fff;
  border-top: 1px solid #e4e4e4;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 12%);
  margin-bottom: 20px;
  .site-footer{
    width: 43%;
    margin: 0 auto;
    .nav-bar{
      margin: 0;
      padding: 10px 0 10px 0;
      .nav-list-items{
        border-right: 2px solid #e4e4e4;
        display: inline-block;
        padding: 0 0.75rem;
        margin: 0;
        text-transform: uppercase;
        a{
          color: #939393;
          font-weight: 500;
          font-size: 15px;
          text-decoration: none;
        }
      }
    }
  }
}
