@import "./partials/mixins";

.from-science{
  background-color: #fff;
  margin-bottom: 1em;
  padding: 10.5px;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 12%);
  #block-views-block-more-in-science-block-1{
    h2{
      @include cardTitle();
      padding: 7.5px 9.5px;
    }
    .views-row{
      @include cardBoxShadow();

      .from-science-section{
        .from-science-content{
          padding: 18px;
          .date-category{
            display: flex;
            @include newsTime();
            time{
              @include newsTime();
            }
            a{
              @include newsCategory();
            }
          }
          .news-author{
            @include newsAuthor();
          }
          .news-title{
            a{
              @include newsTitle();
            }
          }
        }
        .from-science-image{
          img{
            width: 100%;
            height: 200px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px){
  .from-science-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }

}

