*{
  box-sizing: border-box;
}
html{
  font-size: 16px;
  font-family: Oswald,sans-serif;
  font-weight: 500;
}
body{
  background-color: #e4e4e4;
  margin: 0;
  padding: 0;
}
.page-wrapper{
  width: 95%;
  margin: 0 auto;
}

.main-content-first-section{
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 70% 30%;
  gap: 1em;
}
