.main-navigation{
  width: 100%;
  background-color: #b71c1c;
}
#block-the-wire-main-menu{
  margin-bottom: 1.5rem;
  .nav-bar{
    list-style: none;
    margin: 0;
    .nav-list-items{
      display: inline-block;
      text-transform: uppercase;
      margin-right: 20px;
      padding: 20px 0 20px 0;
      &:last-child{
        float: right;
        background-color: #fff;
        border-radius: 10px;
        height: 35px;
        width: 36px;
        padding: 8px;
        margin-top: 10px;
        a{
          color: #b71c1c;
        }
      }

      a{
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

@media (max-width: 320px){
  #block-the-wire-main-menu{
    .nav-bar{
      display: none;
    }
    .show{
      display: block;
    }

  }

}
