.main-navigation{
  width: 100%;
  background-color: #b71c1c;
  height: 60px;
}
.region-main-menu{
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1rem;
  #block-search{
    float: right;
    padding: 0.5rem 0 0.5rem 0;
  }
}
.overlay-category{
  .categories{
    #block-the-wire-main-menu{
      .nav-bar{
        display: flex;
        flex-direction: column;
        padding: 0 18px;
        // background-color: white;
        max-height: 0;
        // height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        .nav-list-items{
          text-transform: capitalize;
          padding: 0;
          margin: 0;
          font-size: 14px;
        }
      }
    }
  }

}
#block-the-wire-main-menu.hide{
  display: none;
}
#block-the-wire-main-menu{
  display: block;
  width: 100%;
  .nav-bar{
    list-style: none;
    margin: 0;
    padding: 0;
    .nav-list-items{
      display: inline-block;
      text-transform: uppercase;
      margin-right: 20px;
      padding: 20px 0 20px 0;
      a{
        text-decoration: none;
        color: #fff;
      }
    }
  }
}
#block-the-wire-search{
  display: none;
}
#block-the-wire-search.hide{
  display: none;
}
#block-the-wire-search.show{
  width: 100%;
  display: block;
  form{
    display: flex;
    width: 100%;
  }
  #edit-actions{
    display: none;
  }
  #search-block-form{
    .js-form-item{
      width: 100%;
      input{
        width: 100%;
        height: 45px;
        background: none;
        outline: none;
        border: none;
        margin: 0.5rem 0 0.5rem 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 18.4px;
        font-family: 'Oswald';
        color: #fff;
        &::placeholder{
          color: #fff;
          font-family: Oswald;
          font-size: 14px;
          font-weight: 300;
        }
      }
    }
  }
}
.nav-overlay{
  display: none;
}
.nav-overlay.hide{
  display: none;
}
@media (max-width: 768px){
  .nav-overlay{
    position: fixed;
    background-color: #b71c1c;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    top: 60px;
    display: none;
  }
  .nav-overlay.show{
    display: block;
  }
  #block-the-wire-main-menu{
    .nav-bar{
      display: none;
    }
    .show{
      display: block;
    }
  }

}
