@import "./partials/mixins";
@import "./partials/variables";

.form-wrapper{
  width: 100%;
  margin-top: 40px;
  .register-form{
    width: 90%;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;

    #block-the-wire-content{
      width: 100%;
      margin: auto;
    }
    .or-separator{
      @include formFont();
      text-align: center;
      margin-bottom: 1em;
    }
    #edit-submit{
      border-radius: 200px;
      background-color: $red;
      color: #fff;
      text-align: left;
      @include formFont();
      padding: 12px 20px;
      width: 100%;
      border: none;
      margin-bottom: 0.5em;
      box-shadow: 0px 1px 2px #7b807e3b;
    }
    #edit-submit-google{
      border-radius: 200px;
      background-color: $white;
      color: #1d1d1d;
      text-align: left;
      @include formFont();
      padding: 12px 20px;
      width: 100%;
      border: none;
      margin-bottom: 0.5em;
    }
    #edit-submit-youtube{
      border-radius: 200px;
      background-color: $white;
      color: #1d1d1d;
      text-align: left;
      @include formFont();
      padding: 12px 20px;
      width: 100%;
      border: none;
      margin-bottom: 0.5em;
    }
    .form-text{
      @include formInput();
      @include formFont();
    }
    .form-email{
      @include formInput();
      @include formFont();
    }
  }
  .form-header{
    text-align: center;
    @include formFont();
    color: #b82925;
    font-size: 2rem;
    margin: 20px 0px;
  }
  form{
    @include formFont();
    #edit-mail--description{
      display: none;
    }
  }
  .redirect-text{
    @include formFont();
    text-align: center;
  }
  .redirect-link{
    color: $red;
    @include formFont();
  }
  #block-sitelogo-2{
    margin: auto;
    width: 40%;
    // margin-top: 40px;
  }
  .js-password-confirm-message{
    display: none;
  }
}
.google-button{
  display: flex;
  .google-logo{
    padding: 10px 0 10px 0;
  }
}
@media (min-width: 768px){

  .form-wrapper{
    .register-form{
      width: 400px;
      margin: auto;
    }
    #block-sitelogo-2{
      margin: auto;
      width: 150px;
      // margin-top: 40px;
    }
  }
}
