@import "./partials/mixins";


#block-views-block-tek-fog-block-1{
  background-color: #fff;
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 10.5px;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 12%);
  .views-row{
    @include cardBoxShadow();
  }

  .tek-fog-section{
    display: block;
    .tek-fog-content{
      padding: 18px;
      .news-author{
        @include newsAuthor();
      }
      .news-title{
        a{
          @include newsTitle();
        }
      }
      .date-category{
        display: flex;
        color: #9d9d9d;
        @include newsTime();
        time{
          @include newsTime();
        }
        a{
          @include newsCategory();
        }
      }
    }
  }
  h2{
    @include cardTitle();
    padding: 7.5px 9.5px;
  }
  img{
    width: 100%;
    height: 200px;
  }
}

@media (min-width: 768px){
  .tek-fog-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
  }

}
