@import "./partials/mixins";

.the-wire-video{
    background-color: #383838;
    overflow: hidden;
    padding-top: 60px;
    padding-bottom: 35px;
    width: 100%;
    margin-bottom: 22px;
#block-views-block-the-wire-video-block-1{
  width: 95%;
  margin: 0 auto;
  background-color: #fff;
  margin-bottom: 1em;
  padding: 10.5px;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 12%);
  h2{
    @include cardTitle();
    padding: 7.5px 9.5px;
  }
  .views-row{
    @include cardBoxShadow();
    .wire-section{
      .wire-content{
        padding: 18px;
        .news-title{
          a{
            @include newsTitle();
          }
        }
        .news-author{
          @include newsAuthor();
        }
        .date-category{
          time{
            @include newsTime();
          }
          a{
            @include newsCategory();
          }
        }
      }
      .wire-video{
        div{
          width: 100%;
          padding: 0px;
          iframe{
            width: 278px;
            height: 316px;
            border: 5px solid #383838;
          }
        }
      }
    }
  }
}
}
