body{background-color:#e4e4e4;}.page-wrapper{width:95%;margin:0 auto;}.site-header{width:90%;margin:0 auto;}.sidebars{width:100%;}.sidebar-wrapper{width:100%;display:grid;grid-template-columns:68.5% 30%;gap:1em;}
