#block-aboutpage {
  padding: 30px;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  margin-bottom: 22px;
  background-position: 50%;
}
#block-aboutpage h2 {
  padding: 10px;
  font-family: PT Serif, serif;
  font-weight: 700;
  font-size: 2em;
  color: #fff;
  text-transform: capitalize;
}
#block-aboutpage ul {
  font-size: 15px;
}
#block-aboutpage ul li {
  display: inline;
  list-style: none;
}
#block-aboutpage ul li a {
  color: #e4e4e4;
  padding: 10px;
  border-right: 2px solid #e4e4e4;
  font-family: Oswald, sans-serif;
  line-height: 0;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

#block-views-block-about-page-block-1 .views-row {
  background-color: #fff;
  border-top: 2px solid #b71c1c;
  margin-bottom: 1em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
}
#block-views-block-about-page-block-1 .views-row .views-field-title {
  padding: 50px 50px 20px;
}
#block-views-block-about-page-block-1 .views-row .views-field-title a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.85em;
  font-family: PT Serif, serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
}
#block-views-block-about-page-block-1 .views-row .views-field-body {
  padding: 50px 50px 20px;
  font-family: PT Serif, serif;
  font-weight: 400;
  font-size: 1.25em;
}

@media (max-width: 320px) {
  #block-aboutpage h2 {
    padding: 10px;
    font-family: PT Serif, serif;
    font-weight: 700;
    font-size: 1.6em;
    color: #fff;
    text-transform: capitalize;
  }

  #block-views-block-about-page-block-1 {
    width: 90%;
    margin: auto;
  }
  #block-views-block-about-page-block-1 .views-row .views-field-title {
    padding: 50px 50px 20px;
  }
  #block-views-block-about-page-block-1 .views-row .views-field-body {
    font-size: 14px;
    line-height: 1.5;
    padding: 50px 50px 20px;
  }
  #block-views-block-about-page-block-1 .views-row .views-field-body .field-content {
    width: 100%;
    font-size: 1.2rem;
  }
  #block-views-block-about-page-block-1 .views-row .views-field-body .field-content a {
    padding: 0;
    margin: 0;
  }
}