#block-the-wire-account-menu .nav-bar {
  margin: 0;
  list-style: none;
}
#block-the-wire-account-menu .nav-bar .nav-list-items {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 20px;
  padding: 20px 0 20px 0;
  padding-left: 2em;
}
#block-the-wire-account-menu .nav-bar .nav-list-items a {
  border: 1px solid #eaeaec;
  padding: 8px 23px;
  border-radius: 6px;
}
#block-the-wire-account-menu .nav-bar .nav-list-items:first-child {
  border-right: 1px solid #e5e5e5;
  margin: 0;
  padding: 20px 0 20px 0;
  padding-right: 2em;
}
#block-the-wire-account-menu .nav-bar .nav-list-items:first-child a {
  border: none;
  margin: 0;
  padding: 0;
}
#block-the-wire-account-menu .nav-bar .nav-list-items:last-child {
  padding-left: 0;
}
#block-the-wire-account-menu .nav-bar .nav-list-items:last-child a {
  border: none;
  margin: 0;
  color: #fff;
  background-color: #b71c1c;
  border: 1px solid #b71c1c;
}

#block-the-wire-account-menu .nav-bar {
  float: right;
  padding: 25px;
}
#block-the-wire-account-menu .nav-bar .nav-list-items a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}