.site-footer-wrapper {
  background-color: #fff;
  border-top: 1px solid #e4e4e4;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 20px;
  margin-top: 20px;
}
.site-footer-wrapper .site-footer {
  width: 43%;
  margin: 0 auto;
}
.site-footer-wrapper .site-footer .nav-bar-footer {
  margin: 0;
  padding: 10px 0 10px 0;
}
.site-footer-wrapper .site-footer .nav-bar-footer .nav-list-items-footer {
  border-right: 2px solid #e4e4e4;
  display: inline-block;
  padding: 0 0.75rem;
  margin: 0;
  text-transform: uppercase;
}
.site-footer-wrapper .site-footer .nav-bar-footer .nav-list-items-footer a {
  color: #939393;
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
}

@media (max-width: 320px) {
  .site-footer-wrapper {
    display: none;
  }
  .site-footer-wrapper .site-footer {
    display: none;
  }
}