.layout-container {
  display: block;
}

.main-content-first-section {
  width: 100%;
  margin: 0 auto;
  display: block;
}

.main-content-second-section {
  width: 100%;
  margin: 0 auto;
  display: block;
}

.page-wrapper {
  width: 100%;
  margin: 0 auto;
}

.side_bar_more_in {
  width: 100%;
  margin: 0 auto;
  display: block;
}

.side_bar_trending {
  width: 100%;
  margin: 0 auto;
  display: block;
}

.content-first-wrapper .content-first .first-line {
  display: block;
  width: 100%;
}
.content-first-wrapper .content-first .third-line {
  display: block;
  width: 100%;
}

.content-second-wrapper .content-second .fourth-line {
  display: block;
  width: 100%;
}
.content-second-wrapper .content-second .fifth-line {
  width: 100%;
}
.content-second-wrapper .content-second .sixth-line {
  display: block;
  width: 100%;
}

.more-link {
  background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNjAgMTYwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6Z3JheTt9LmNscy0ye2ZpbGw6I2ZmZjt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmljb25zPC90aXRsZT48Y2lyY2xlIGNsYXNzPSJjbHMtMSIgY3g9IjgwIiBjeT0iODAiIHI9IjQyLjIiLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iOTMuNyA4MCA5MS41IDc3LjkgOTEuNSA3Ny45IDcyLjUgNTguOCA3MC4zIDYwLjkgODkuNCA4MCA3MC4zIDk5LjEgNzIuNSAxMDEuMiA5MS41IDgyLjEgOTEuNSA4Mi4xIDkzLjcgODAgOTMuNyA4MCA5My43IDgwIi8+PC9zdmc+Cg==");
  background-repeat: no-repeat;
  background-position: 100% 0;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 15px;
  text-transform: uppercase;
  background-color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 500;
  height: 13px;
}
.more-link a {
  color: #939393;
  float: right;
  text-decoration: none;
  margin-right: 40px;
  position: relative;
  font-size: 1em;
  letter-spacing: 0.07em;
  top: -6px;
}

@media (min-width: 768px) {
  * {
    box-sizing: border-box;
  }
  * .more-link {
    width: 100%;
    background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNjAgMTYwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6Z3JheTt9LmNscy0ye2ZpbGw6I2ZmZjt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmljb25zPC90aXRsZT48Y2lyY2xlIGNsYXNzPSJjbHMtMSIgY3g9IjgwIiBjeT0iODAiIHI9IjQyLjIiLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iOTMuNyA4MCA5MS41IDc3LjkgOTEuNSA3Ny45IDcyLjUgNTguOCA3MC4zIDYwLjkgODkuNCA4MCA3MC4zIDk5LjEgNzIuNSAxMDEuMiA5MS41IDgyLjEgOTEuNSA4Mi4xIDkzLjcgODAgOTMuNyA4MCA5My43IDgwIi8+PC9zdmc+Cg==");
    background-repeat: no-repeat;
    background-position: 100% 0;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    padding: 15px;
    text-transform: uppercase;
    background-color: #fff;
    font-family: Oswald, sans-serif;
    font-weight: 500;
    height: 41px;
  }
  * .more-link a {
    color: #939393;
    float: right;
    text-decoration: none;
    margin-right: 40px;
    position: relative;
    font-size: 1em;
    letter-spacing: 0.07em;
    top: -6px;
  }

  .page-wrapper {
    width: 98%;
    margin: 0 auto;
    max-width: 1323px;
  }
  .page-wrapper .content-first-wrapper .content-first .first-line {
    display: grid;
    grid-template-columns: 70% 29%;
    gap: 1rem;
  }
  .page-wrapper .content-first-wrapper .content-first .third-line {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .page-wrapper .content-second-wrapper .content-second .fourth-line {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .page-wrapper .content-second-wrapper .content-second .fifth-line {
    width: 100%;
  }
  .page-wrapper .content-second-wrapper .content-second .sixth-line {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .main-content-first-section {
    display: block;
    width: 100%;
    margin-top: 1em;
  }

  .main-content-second-section {
    display: block;
    width: 100%;
  }

  .side_bar_more_in {
    display: block;
    width: 100%;
  }

  .side_bar_trending {
    display: block;
    width: 100%;
  }
}