.main-navigation {
  width: 100%;
  background-color: #b71c1c;
}

#block-the-wire-main-menu {
  margin-bottom: 1.5rem;
}
#block-the-wire-main-menu .nav-bar {
  list-style: none;
  margin: 0;
}
#block-the-wire-main-menu .nav-bar .nav-list-items {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 20px;
  padding: 20px 0 20px 0;
}
#block-the-wire-main-menu .nav-bar .nav-list-items:last-child {
  float: right;
  background-color: #fff;
  border-radius: 10px;
  height: 35px;
  width: 36px;
  padding: 8px;
  margin-top: 10px;
}
#block-the-wire-main-menu .nav-bar .nav-list-items:last-child a {
  color: #b71c1c;
}
#block-the-wire-main-menu .nav-bar .nav-list-items a {
  text-decoration: none;
  color: #fff;
}