.main-navigation {
  width: 100%;
  background-color: #b71c1c;
}

.region-main-menu {
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.region-main-menu #block-search {
  float: right;
  padding: 1rem 0 1rem 0;
}

#block-the-wire-main-menu.hide {
  display: none;
}

#block-the-wire-main-menu {
  margin-bottom: 1.5rem;
  display: block;
  width: 100%;
  height: 50px;
}
#block-the-wire-main-menu .nav-bar {
  list-style: none;
  margin: 0;
  padding: 0;
}
#block-the-wire-main-menu .nav-bar .nav-list-items {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 20px;
  padding: 20px 0 20px 0;
}
#block-the-wire-main-menu .nav-bar .nav-list-items a {
  text-decoration: none;
  color: #fff;
}

#block-the-wire-search {
  display: none;
}

#block-the-wire-search.hide {
  display: none;
}

#block-the-wire-search.show {
  width: 100%;
  display: block;
}
#block-the-wire-search.show form {
  display: flex;
  width: 100%;
}
#block-the-wire-search.show #edit-actions {
  display: none;
}
#block-the-wire-search.show #search-block-form .js-form-item {
  width: 100%;
}
#block-the-wire-search.show #search-block-form .js-form-item input {
  width: 100%;
  height: 45px;
  background: none;
  outline: none;
  border: none;
  margin: 0.5rem 0 0.5rem 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.4px;
  font-family: "Oswald";
  color: #fff;
}
#block-the-wire-search.show #search-block-form .js-form-item input::placeholder {
  color: #fff;
  font-family: Oswald;
  font-size: 14px;
  font-weight: 300;
}

@media (max-width: 320px) {
  .nav-overlay {
    position: fixed;
    background-color: #b71c1c;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    top: 60px;
    display: none;
  }

  .nav-overlay.show {
    display: block;
  }

  #block-the-wire-main-menu .nav-bar {
    display: none;
  }
  #block-the-wire-main-menu .show {
    display: block;
  }
}