#block-views-block-more-in-all-block-1--2 {
  background-color: #fff;
  margin-bottom: 1em;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
#block-views-block-more-in-all-block-1--2 h2 {
  color: #939393;
  font-size: 17px;
  font-weight: 500;
  margin: 0;
  padding: 18px 20px;
  text-transform: uppercase;
  width: 100%;
}
#block-views-block-more-in-all-block-1--2 .views-row .more-in-all-section {
  display: grid;
  grid-template-columns: 35% 60%;
  gap: 1em;
  padding: 2px 3px 2px 3px;
}
#block-views-block-more-in-all-block-1--2 .views-row .more-in-all-section .more-in-all-image img {
  width: 100%;
  height: 100%;
}
#block-views-block-more-in-all-block-1--2 .views-row .more-in-all-section .more-in-all-news-title a {
  text-decoration: none;
  font-size: 1em;
  color: #000;
  font-weight: 400;
  margin: 10px 0 10px 0;
}
#block-views-block-more-in-all-block-1--2 .views-row .more-in-all-section .more-in-all-content {
  display: inline-block;
  padding: 18px 0 18px 0;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}
#block-views-block-more-in-all-block-1--2 .views-row .more-in-all-section .more-in-all-content .date-category time {
  color: #9b9292;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.7px;
}
#block-views-block-more-in-all-block-1--2 .views-row .more-in-all-section .more-in-all-content .date-category a {
  background-color: #b71c1c;
  padding: 2px 5px;
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  margin-right: 10px;
  margin: 2px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration: none;
}

@media (min-width: 320px) {
  #block-views-block-more-in-all-block-1--2 .views-row {
    margin-bottom: 2px;
  }
  #block-views-block-more-in-all-block-1--2 .views-row .more-in-all-section .date-category time {
    display: none;
  }
  #block-views-block-more-in-all-block-1--2 .views-row .more-in-all-section .more-in-all-news-author {
    display: none;
  }
  #block-views-block-more-in-all-block-1--2 .views-row .more-in-all-section .more-in-all-image img {
    width: 100%;
    height: 100%;
  }
}