.sidebars {
  width: 100%;
}

.sidebar-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 68.5% 30%;
  gap: 1em;
}

@media (min-width: 320px) {
  .sidebar-wrapper {
    display: block;
    margin-bottom: 1em;
  }
}