#block-views-block-top-stories-block-1--2 {
  background-color: #fff;
  margin-bottom: 1em;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
#block-views-block-top-stories-block-1--2 h2 {
  color: #939393;
  font-size: 17px;
  font-weight: 500;
  margin: 0;
  padding: 18px 20px;
  text-transform: uppercase;
  width: 100%;
}
#block-views-block-top-stories-block-1--2 .views-field-field-news-image {
  width: 100%;
  position: relative;
  padding: 0 10px;
}
#block-views-block-top-stories-block-1--2 .views-field-field-news-image img {
  width: 407px;
  height: 315px;
}
#block-views-block-top-stories-block-1--2 .views-field-field-category {
  position: absolute;
  top: 50%;
  left: 40%;
  padding: 1rem;
}
#block-views-block-top-stories-block-1--2 .views-field-field-category a {
  text-decoration: none;
  padding: 2px 5px;
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
  background-color: #b71c1c;
}
#block-views-block-top-stories-block-1--2 .views-field-title {
  position: absolute;
  top: 60%;
  padding: 1rem;
}
#block-views-block-top-stories-block-1--2 .views-field-title a {
  color: #000;
  background-color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 5px 0 5px;
  text-align: center;
}

@media (min-width: 320px) {
  #block-views-block-top-stories-block-1 {
    width: 100%;
    margin: 0 auto;
  }
}