.the-wire-video {
  background-color: #383838;
  overflow: hidden;
  padding-top: 60px;
  padding-bottom: 35px;
  width: 100%;
  margin-bottom: 22px;
}
.the-wire-video #block-views-block-the-wire-video-block-1 {
  width: 95%;
  margin: 0 auto;
  background-color: #fff;
  margin-bottom: 1em;
  padding: 10.5px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.the-wire-video #block-views-block-the-wire-video-block-1 h2 {
  color: #939393;
  font-size: 17px;
  font-weight: 500;
  margin: 0;
  padding: 18px 20px;
  text-transform: uppercase;
  width: 100%;
  padding: 7.5px 9.5px;
}
.the-wire-video #block-views-block-the-wire-video-block-1 .views-row {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
}
.the-wire-video #block-views-block-the-wire-video-block-1 .views-row .wire-section .wire-content {
  padding: 18px;
}
.the-wire-video #block-views-block-the-wire-video-block-1 .views-row .wire-section .wire-content .news-title a {
  text-decoration: none;
  font-size: 1em;
  color: #000;
  font-weight: 400;
  margin: 10px 0 10px 0;
  text-align: left;
}
.the-wire-video #block-views-block-the-wire-video-block-1 .views-row .wire-section .wire-content .news-author {
  color: #9d9d9d;
  margin-top: 25px;
  font-size: 0.9em;
  font-size: 14px;
  padding-right: 0;
  font-style: normal;
}
.the-wire-video #block-views-block-the-wire-video-block-1 .views-row .wire-section .wire-content .date-category time {
  color: #9b9292;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  padding-right: 10px;
  letter-spacing: 0.7px;
}
.the-wire-video #block-views-block-the-wire-video-block-1 .views-row .wire-section .wire-content .date-category a {
  background-color: #b71c1c;
  padding: 2px 5px;
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  margin-right: 10px;
  margin: 2px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration: none;
}
.the-wire-video #block-views-block-the-wire-video-block-1 .views-row .wire-section .wire-video div {
  width: 100%;
  padding: 0px;
}
.the-wire-video #block-views-block-the-wire-video-block-1 .views-row .wire-section .wire-video div iframe {
  width: 100%;
  height: 316px;
  border: 5px solid #383838;
}

@media (min-width: 768px) {
  .wire-video {
    display: grid;
    grid-template-columns: 60% 40%;
  }
  .wire-video div {
    width: 100%;
    padding: 0px;
  }
  .wire-video div iframe {
    width: 100%;
    height: 400px;
    border: 5px solid #383838;
  }
}